body {
  margin: 0;
  font-family: "sans";
  color: #f8f8ff;
  text-align: center;
  background: url("../img/Dark-Mode-Bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}

body.night {
  background: url("../img/Light-Mode-Bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #292929;
  transition: 0.9s;
}

body.night .intro-bg .text-content h2 {
  color: #1c1c1c;
}

#body {
  background-size: cover;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "sans";
  src: url(../font/sans.ttf);
}

.daynightmode {
  position: fixed;
  top: 40px;
  left: 20px;
  border-radius: 25px;
  border: 2px solid white;
  width: 50px;
  height: 25px;
  cursor: pointer;
  z-index: 10;
  transition: 0.5s;
}

.daynightmode:before {
  content: "";
  font-family: fontAwesome;
  position: absolute;
  top: 3px;
  left: 4px;
  width: 15px;
  height: 14px;
  background: url(../img/crescent-moon.png);
  border-radius: 50%;
  transition: 0.5s;
}

.daynightmode.active {
  border: 2px solid #00151f;
}

.daynightmode.active:before {
  content: "";
  left: 28px;
  font-family: fontAwesome;
  background: url(../img/sun.png);
}

.intro-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.area {
  margin: 0;
  /* background: url(../img/home-bg.png); */
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.text-content h2 {
  font-size: 13rem;
  padding: 1rem;
  text-align: center;
  /* color: whitesmoke; */
}
.text-content p {
  font-size: 1.8rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 5px solid tomato;
  border-right: 5px solid tomato;
  transform: rotate(45deg);
  margin: -5px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media only screen and (max-width: 1024px) {
  .text-content h2 {
    font-size: 10rem;
  }
  .text-content h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .text-content h2 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 600px) {
  .text-content h2 {
    font-size: 4rem;
  }
  .text-content h3 {
    font-size: 1.2rem;
  }
  .text-content p {
    font-size: 1.2rem;
  }
}

/* ABOUT SECTION STARTS */

section {
  padding: 4rem 0;
}

#contact {
  padding-bottom: 1rem;
}

#about {
  height: 100%;
}

.container {
  width: 80%;
  max-width: 75rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.container .projects-here {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-image {
  flex: 1;
  margin-right: 3rem;
}

.about-info {
  flex: 1;
  font-size: 1.2rem;
  text-align: left;
}

#about .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  border-radius: 1rem;
}

@media screen and (max-width: 767px) {
  .about-info {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #about .container {
    flex-direction: column;
  }
  #about .timeline-section p {
    font-size: 1.4rem;
  }
  .profile-image {
    margin: 0 0 2rem 0;
  }
  .about-info {
    font-size: 1rem;
  }
}

.intro-social {
  font-size: 1.6rem;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
  color: black;
}

.intro-social li {
  display: inline-block;
  /* height: 5rem; */
  border-radius: 50%;
  color: #000;
}

.intro-social li a:visited {
  color: black;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  .intro-social {
    text-align: center;
  }
}

.fa-facebook {
  padding: 5px 10px;
  border-radius: 10%;
  background: white;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-facebook:hover {
  color: #4267b2;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-github {
  padding: 5px 8px;
  border-radius: 10%;
  background: white;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-github:hover {
  color: #727171;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-twitter {
  padding: 5px 8px;
  border-radius: 10%;
  background: white;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-twitter:hover {
  color: #1da1f2;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-linkedin {
  padding: 5px 8px;
  border-radius: 10%;
  background: white;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-linkedin:hover {
  color: #0e76a8;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-instagram {
  padding: 5px 8px;
  border-radius: 10%;
  background: white;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-instagram:hover {
  color: #e1306c;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

/* ABOUT SECTION END */

/* MY TOOLS SECTION STARTS */

#myTools {
  position: relative;
}

.mytools-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  text-align: center;
}

.skills-section {
  padding: 1rem;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

.icons {
  height: 90px;
  width: 90px;
}


/* MY TOOLS SECTION ENDS */

/* MY TOOLS RESPONSIVE STARTS */

@media only screen and (max-width: 600px) {
  #myTools .timeline-section p {
    font-size: 1.5rem;
  }
  #mynewprojects .timeline-section p {
    font-size: 1.5rem;
  }
}

/* MY TOOLS RESPONSIVE ENDS */

/* PROJECT SECTION STARTS */

.container .projects-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.container .projects-cards .align-flex {
  width: 480px;
  height: auto;
  border-radius: 15px;
  padding: 1rem;
  /* background-image: linear-gradient(145deg, #2a2a2a, #232323); */
  /* box-shadow: 5px 5px 8px #1c1c1c, 5px 5px 8px #323232; */
}

@media (max-width: 320px) {
  .container .projects-cards .align-flex .projects-header h1 {
    font-size: 1.3rem;
  }
}

.container .projects-cards .align-flex .header-img {
  object-fit: cover;
  /* width: 100%;
  height: 250px; */
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.container .projects-cards .align-flex .projects-info {
  text-align: left;
}

.projects-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 5rem;
}

.projects-info {
  flex: 1;
}

.projects-info img {
  width: 35px;
  height: 100%;
  margin: 1rem 0;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.projects-header .header-images a {
  padding: 0;
}
.projects-header .header-images img {
  width: 35px;
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
  .projects-items {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

/* PROJECT RESPONSIVE ENDS */

/* TIMELINE SECTION STARTS */

.timeline-section {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.timeline-section h1 {
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
}

.timeline-section p {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
  color: tomato;
  font-size: 1.8rem;
}

.timeline {
  padding: 25px 50px;
  position: relative;
  text-align: left;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: tomato;
  border-radius: 1rem;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-details {
  clear: both;
  text-align: left;
  position: relative;
}
.timeline-details .title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.timeline-details .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background: black;
  border-radius: 100%;
  top: 15%;
  right: -8px;
}
.timeline-details .title h3 {
  margin: 0;
  font-size: 120%;
}
.timeline-details .title p {
  margin: 0;
  font-size: 100%;
}
.timeline-details .timeline-info {
  float: right;
  width: 66%;
  text-align: left;
  padding-left: 30px;
}

.timeline-details .timeline-info h3 {
  padding-bottom: 1rem;
}

.timeline-details .spacing {
  margin-bottom: 2rem;
}

/*CONTACT FORM STARTS */

.contact {
  font-family: "sans";
  text-align: center;
  cursor: pointer;
}
.contact h3 {
  font-family: "sans";
  text-align: center;
}

.contact-description {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 90%;
  cursor: pointer;
}

a {
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}
/* Contact Form End */

/* Contact Form responsive */

@media screen and (max-width: 768px) {
  .contact-description {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  table {
    width: 100%;
    font-size: 0.8rem;
  }
  #contact .timeline-section p {
    font-size: 1.5rem;
  }
}

/* Contact Form Responsive End */

/* Footer Starts */

footer {
  /* background: #131313; */
  text-align: center;
  /* color: white; */
  font-size: 0.8rem;
  font-family: "sans";
  padding: 20px;
}

/* Footer Ends */

.sidebar {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #17181f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 10;
}

.sidebar.active {
  left: 0;
}

ul {
  position: relative;
}

ul li {
  list-style: none;
  transition-delay: 2s;
}

ul li .menu {
  display: block;
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
  color: tomato;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.5s;
}

ul li .menu:hover {
  color: white;
  transition: 0.3s;
}

ul li .menu:before {
  content: attr(data-text);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  font-size: 6em;
  opacity: 0;
  pointer-events: none;
  font-family: "sans";
}

ul li .menu:hover:before {
  opacity: 0.1;
  top: 50%;
}

@media only screen and (max-width: 768px) {
  ul li .menu:before {
    font-size: 2em;
  }
}

.container-icon {
  width: 80px;
  height: 80px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 2%;
  right: 1%;
  cursor: pointer;
}

.stick {
  width: 50px;
  height: 4px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: tomato;
  display: inline-block;
}

.close-sidebar {
  position: absolute;
  top: 40px;
  right: 32px;
  width: 50px;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  /* background-color: tomato; */
}

.close-sidebar:before,
.close-sidebar:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 8px;
  width: 40px;
  background-color: tomato;
}
.close-sidebar:before {
  transform: rotate(45deg);
}
.close-sidebar:after {
  transform: rotate(-45deg);
}

.progress-wrap {
  position: fixed;
  right: 25px;
  bottom: 25px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  content: "\f062";
  font-family: fontAwesome;
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  background-clip: border-box;
  -webkit-background-clip: text;
  background-color: tomato;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::after {
  opacity: 0;
}
.progress-wrap::before {
  position: absolute;
  content: "\f062";
  font-family: fontAwesome;
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  opacity: 0;
  background-clip: border-box;
  -webkit-background-clip: text;
  background-color: tomato;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::before {
  opacity: 1;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: tomato;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

::-webkit-scrollbar {
  width: 5px;
  box-shadow: inset 0 0 1000px black;
}

::-webkit-scrollbar-thumb {
  background: tomato;
  border-radius: 6px;
}
